@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*on an element, padding and border are included in the width and height*/
}

body{
    
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(250, 250, 250), rgb(0, 125, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

main{
    background-color: rgba(255, 255, 255, 0.5);
    width: 62rem;
    height: 37rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

.player-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex: 50%;
}

.player-container h1, .player-container p{
    text-align: center;
    font-weight: bold;
}

.player-active{
    background-color: rgba(255, 255, 255, 0.75);
}

.player-roll{
    background-color: rgba(0, 123, 255, 0.75);
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: white;
}

#ButtonSection{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 37rem;
}

#DiceImage{
    height: 5rem;
    width: 5rem;
    border: 3px solid grey;
}

#DiceButtons{
    display:flex;
    flex-direction: column;
}

#DiceButtons button, #NewGameButton{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
}